* {
  box-sizing: border-box;
}
.header {
  display: flex;
  background-color: transparent;
  background: none;
  width: 100vw;
  position: fixed;
  top: 0;
  margin: 14px;
  margin-top: 14px;
  align-items: center;
}

.header__center {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 110px;
  word-spacing: 1px;
}
.header__right {
  display: flex;
  justify-content: flex-end;
  margin-right: 35px;
  text-transform: uppercase;
}

.Logo {
  cursor: pointer;
  width: 100px;
  block-size: 14px;
}

.header__center > p {
  margin-left: 14px;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 700;
  opacity: 0.75;
  letter-spacing: 0.8px;
}

.header__right > p {
  margin-right: 14px;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 700;
  opacity: 0.75;
  letter-spacing: 0.8px;
}

.header__right__menuicon {
  margin-right: 8px;
}
